h2{
    padding: 0px;
    margin: 0px;
}
h3{
    padding: 0px;
    margin: 0px;
}
#character_screen{
    justify-content: center;
    margin: auto;
}
#char_info{
    border: 12px solid rgba(209, 161, 56, 0);
    border-top: 8px solid rgba(209, 161, 56, 0);
    border-bottom: 8px solid rgba(209, 161, 56, 0);
    width: 45rem;
    background-size: 100% 100%, contain;
    background-image: url(frame_1.png), url(leather.png);
    background-origin: border-box;
    background-clip: border-box, padding-box;
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    li{
        display: flex;
        flex-direction: row;
        width: 20rem;
        span{
            text-align: center;
            display: inline-block;
            min-width: 10rem;
        }
        span:nth-child(2){
            display: inline-block;
            border: 2px solid brown;
            min-width: 10rem;
        }
    }
}
#char_status{
    border: 2px solid brown;
}
#char_preview img{
    height: 30rem;
    padding: 2px;
    border: 2px solid brown;
}