#title_screen{
    h1{
        text-shadow: 0rem 0rem 1rem hsl(40, 90%, 50%);
        font-size: 6rem;
    }
    p, li{
        font-size: larger;
    }
    li:hover{
        background-color: brown;
    }
    ul{
        margin: auto;
        max-width: 20rem;
        list-style-type: none;
        padding: 0px;
    }
}